<h1> Bienvenue </h1>
<%= link_to "créer un gossip", new_gossip_path, class: "lien" %>
<p> Voici la liste des potins : </p>



<p>

  <% @gossips.each do |gossip| %>
   
      <h3><%= link_to gossip.title, gossip_path(gossip) %></h3>
      <p>Écrit par : <%= gossip.user&.first_name  %></p>

<% end %>
</p>

