<h1> Ville : <%= params[:id]%></h1> 

<p>

<% @gossips.each do |gossip| %>
  <li>
    <strong><%= gossip.title %></strong> par <%= gossip.user.first_name %><br>
    <p><%= gossip.content %></p>
  </li>
<% end %>
   
</p>

